body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to left, #40c9ff, #e81cff); 
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="tel"] {
  width: 90%;
  padding: 12px;
  margin: 10px;
  border: 1px solid #4e54c8; 
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

button, .landing-button {
  color: white !important;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4e54c8; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

button:hover {
  background-color: #434190;
}

.logout-button {
  width: 10%;
  display: block;
  margin: auto;
  background-color: #ff6b6b; 
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;
}

.logout-button:hover {
  background-color: #e25757;
  transform: scale(1.05); 
}

.error {
  color: #d9534f; 
  font-size: 0.9em;
  margin-top: 10px;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #0061ff, #60efff); 
  color: #fff;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.landing-button {
  background-color: #4e54c8; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px 0;
  transition: background-color 0.3s, transform 0.3s;
}

.landing-button:hover {
  background-color: #434190; 
  transform: scale(1.05); 
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #333;
}

p, a, input, button {
  font-weight: 400;
  color: inherit;
}